body {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  line-height: 130%;
  font-weight: 400;
  cursor: url('../public/cursor.png') 15 15, auto;
  margin: 0;
  height: 100%;
  white-space: normal;
}

body:active {
  cursor: url('../public/cursor4.png') 12 12, auto;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .logo-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App .logo {
  font-size: calc(50px + 2vmin);
  font-weight: 800;
  width: auto;
}
.App .dot {
  font-size: calc(20px + 2vmin);
  margin: 50px 20px 0px 20px;
}

.App .instructions {
  font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
  font-size: calc(10px + 2vmin);
  line-height: 130%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .main-container {
  margin-top: 30px;
}

.App .daily-container {
  min-height: 50vh;
  width: 70vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0vh 0vh 10vh 0vh;
}
.daily-container .question-option {
  height: 50vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.App .question-date {
  font-size: calc(10px + 0.5vmin);
  align-self: flex-end;
  margin: 5px 5px 0px 0px;
}

.App .daily-option {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-self: flex-end;
}

.color1 {
  background-color: rgb(163, 113, 255);
  box-shadow: 0px 0px 30px rgb(163, 113, 255);
}

.color2 {
  background-color: rgb(134, 218, 255);
  box-shadow: 0px 0px 30px rgb(134, 218, 255);
}

.color3 {
  background-color: rgb(249, 75, 69);
  box-shadow: 0px 0px 30px rgb(249, 75, 69);
}

.color4 {
  background-color: rgb(131, 241, 183);
  box-shadow: 0px 0px 30px rgb(131, 241, 183);
}
.color5 {
  background-color: rgb(143, 200, 255);
  box-shadow: 0px 0px 30px rgb(143, 200, 255);
}
.color6 {
  background-color: rgb(245, 102, 189);
  box-shadow: 0px 0px 30px rgb(245, 102, 189);
}

.color7 {
  background-color: rgb(255, 95, 110);
  box-shadow: 0px 0px 30px rgb(255, 95, 110);
}

.color8 {
  background-color: rgb(255, 243, 111);
  box-shadow: 0px 0px 30px rgb(255, 243, 111);
}

.color9 {
  background-color: rgb(99, 255, 229);
  box-shadow: 0px 0px 30px rgb(99, 255, 229);
}

.historical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historical-container .history {
  font-size: calc(30px + 2vmin);
  font-weight: bold;
  margin-bottom: 5vh;
}
